apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: minio-config-sharder
stringData:
  minio_config.txt: |-
    ${bucket_url}
    ${access_key_id}
    ${secret_access_key}
    ${bucket_name}
    ${bucket_region}