apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "0helm-0chain.labels" $ | nindent 6 }}-minio-config-sharder
  creationTimestamp: null
  name: minio-config-sharder
stringData:
  minio_config.txt: |-
    ${bucket_url}
    ${access_key_id}
    ${secret_access_key}
    ${bucket_name}
    ${bucket_region}